language: csharp
dist: xenial
sudo: required
mono: none
dotnet: 2.0.0
solution: Dibware.Salon.sln
addons:
  sonarcloud:
    organization: "dibley1973-github" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN
branches:
  only:
    - master

install:
  - git fetch --unshallow --tags

before_script:
  - chmod +x build.sh
  - chmod +x run-tests.sh

script:
  - ./build.sh
  - ./run-tests.sh
  - sonar-scanner

